.aftersubmission{
	display: none;
	

}
.fonts{
	text-align: center;
	margin-left: -180px;
	font-size: 100px;
	font-family: 'Pacifico', cursive;

}
.loading{
    display: none;
	margin-left: 350px;

}

.loadingScreen{
	display: none;
	margin-top: 220px; 
	margin-left: 450px;
	text-align: center;
}